<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="TimeInterval" value="10"/>
		<!--<add key="JobType" value="PULL" />-->
		<add key="JobType" value="PUSH"/>
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<connectionStrings>
		<add name="Local" connectionString="Data Source=localhost;Initial Catalog=DEMO_LOCAL;User ID=sa;Password=Honghanh295488" />
		<add name="Middle" connectionString="Data Source=localhost;Initial Catalog=DEMO_MIDDLE;User ID=sa;Password=Honghanh295488" />
		<add name="Runtime" connectionString="Data Source=localhost;Initial Catalog=Runtime;User ID=sa;Password=Honghanh295488" />
	</connectionStrings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>