<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="Local" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DEMO_LOCAL;User ID=sa;Password=123456" />
        <add name="Middle" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DEMO_MIDDLE;User ID=sa;Password=123456" />
    </connectionStrings>
</configuration>